[2021-03-22 15:15] nevkontakte commented on #989
Thanks, I have been actually looking at your implementation, and it gave me a bit better understanding of the problem we are dealing with 🙂 There are, unfortunately, several issues with it, which are likely to bite us at some later stage:

 1. It actually creates circular imports between packages, which is forbidden in the language spec for good reasons. Cycles in the build graph are difficult to

[2021-03-22 16:37] nevkontakte commented on #1000
A few more notes after playing with the Go's implementation of go:linkname:

 - The use case of "inserting" an implementation into another package (the second example in the comment above) appears to be somewhat a special case with the `runtime` package exporting its functions into various other packages. For example, `fastrand()` is exported into `sync`, `net` and `os`.
 - Inserting a function fr

[2021-03-22 23:24] visualfc commented on #989
Because it's loaded gopherjs build pkg.a from disk

Yes, insert not implement. this function no need.

[2021-03-24 12:49] nevkontakte commented on #989
I admit I don't fully understand the problem that was fixed in https://github.com/goplusjs/gopherjs/commit/ffac742d385e168f90cbd1a94e7247057f327310, but from my understanding of how compilers work in general, a well-designed build system should not need to rewrite a build artifact if inputs didn't change. Even though GopherJS doesn't have a well-defined linker, the `compiler.WritePkgCode()` functi

[2021-03-24 12:52] nevkontakte commented on #1000
_Side note, the discussion of this feature has gotten split between this issue and https://github.com/gopherjs/gopherjs/issues/989#issuecomment-804089388, so I'm explicitly cross-referencing it here._

[2021-03-24 15:16] nevkontakte commented on #1000
After doing more research, I think here are the requirements for the `go:linkname` implementation in the GopherJS context:

  - Support the "importing" variant of the directive, which must work regardless of the package relation in the import graph. The "inserting" variant is not needed, but if it turns out easy to implement we might as well have it.
  - Only support linknaming functions. even tho

[2021-03-27 18:51] nevkontakte opened #1007 "Inefficient code generated for large arrays initialization."
This issue is related to https://github.com/golang/go/issues/34395 and https://github.com/golang/go/blob/master/test/fixedbugs/issue34395.go.

For a declaration like this:
[code]

GopherJS will attempt to generate code like this:

[code]

For excessively large arrays the compiler will simply run out of memory and crash. For smaller arrays it may be able to generate the code, but the output would b

[2021-03-30 15:42] findleyr opened #1011 "Compiler panic at tip Go due to assumption about nil basic types"
Gopherjs breaks at ~[CL 284052](https://golang.org/cl/284052)~ [CL 289715](https://golang.org/cl/289715) in the Go repository, due to an assumption about nil basic types here:
https://github.com/gopherjs/gopherjs/blob/bed99a852dfeb7c8aad4ac454357a198750247e1/compiler/expressions.go#L738
(`t.Kind()` is now `types.UntypedNil`)

This is reproducible as follows:
[code]

This appears to be a case of [H

[2021-03-30 19:50] nevkontakte commented on #1011
Admittedly I don't know why GopherJS makes this assumption, but I'll go ahead and guess maybe at the time this code was written UnsafePointer was the only BasicKind that could plausibly be nil? Although it seems like UntypedNil existed even back in Go 1.5.1: https://pkg.go.dev/go/types@go1.5.1#BasicKind ¯\\_(ツ)\_/¯ CC @neelance who authored https://github.com/gopherjs/gopherjs/commit/0f211c50e61d1

[2021-03-30 20:50] findleyr commented on #1011
Sorry, I linked the wrong CL above (will amend): https://golang.org/cl/284052 is the compiler change, https://golang.org/cl/289715 is the go/types port.

Yes, the example in  https://github.com/gopherjs/gopherjs/issues/1011#issuecomment-810533541 is one example of what is changing. Note that 'nil' in the following was already reported as untyped nil:

[code]

See more at https://golang.org/issue/1

[2021-03-30 21:01] nevkontakte commented on #1011
Thanks, this is very helpful. I'll try to give this a close look as soon as I can, but unfortunately can't promise this before the weekend.

[2021-03-30 21:53] findleyr commented on #1011
Thanks! Really appreciate your help looking into this.

CC @griesemer

[2021-04-01 14:10] duckbrain commented on #64
Go now has built-in support for embedding the time zone database statically from within in the standard library.

https://golang.org/pkg/time/tzdata/

This might just work as-is (haven't checked), or could be used as a trigger the same way in GopherJS to tell it to include the optimized moment db.

Browser support for IANA timezones has also gotten better. I'm not sure if the browser exposed APIs

[2021-04-01 14:13] duckbrain commented on #64
Related: #989

[2021-04-05 15:42] nevkontakte opened #1013 "GopherJS generics support"
It appears that generic (a.k.a. type parameters support) is well underway in the upstream Go ([dev.typeparams](https://github.com/golang/go/tree/dev.typeparams) branch) and is likely to be included in 1.17. Which means GopherJS also needs to support this, ideally at the same time as Go 1.17, which I expect is a lot of work. Does anyone have even approximate sense of what it would take to support g

[2021-04-05 16:09] nevkontakte commented on #1011
Sigh, I feel like supporting Go 1.17 and generics is going to be an adventure…

When I test against https://github.com/nevkontakte/gopherjs/tree/go1.16-stdlib-wip (which is slightly ahead of https://github.com/gopherjs/gopherjs/tree/go1.16-stdlib, which is the about-to-land Go 1.16 support) and https://github.com/golang/go master I get a different panic:

[code]

@findleyr can you please confirm w

[2021-04-05 16:30] nevkontakte commented on #1011
The panic happens at this line:

https://github.com/golang/go/blob/9e3328e7407ab7cd24f48d27ba69d265c57d5805/src/errors/wrap.go#L103

So I assume it is caused by the same change, just a different instance of it.

[2021-04-05 16:52] findleyr commented on #1011
It looks like that panic would have been caused by the same underlying assumption which was invalidated by CL 289715: the type of nil in that expression is types.Typ[UntypedNil].

I suspect that the different panic is an artifact of the changes in go1.16-stdlib-wip, but FTR I tested with Go at exactly CL 289715 (618e3c15bdb5c031ac037e7ad5c1b3791a913226).

[2021-04-05 16:58] nevkontakte commented on #1011
Could you also share which GopherJS commit you were using?

[2021-04-05 17:00] findleyr commented on #1011
Oh, sorry, I was at bed99a852d (1.12.3+go1.12)

[2021-04-05 19:08] nevkontakte commented on #1011
Having spent a few hours on this today, this is what I have so far:

 1. I think I understand the meaning of the change https://golang.org/cl/284052 made reasonable well.
 2. A naive fix of just allowing types.UntypedNil wherever a panic happens doesn't work: the compiler ends up generating broken code and the program crashes at runtime.
 3. Unfortunately the relevant part of the compiler code is

[2021-04-06 10:00] #989 closed

[2021-04-07 07:41] MultiM25 opened #1016 "Error while building a Go file"
Hi,

So I'm here because i have to build a project using GopherJs but got an error when try to build it.

The error report : "import "/proto/client": cannot import absolute path"

The proto/client is a local package.

Thanks for reading.

[2021-04-07 07:58] flimzy commented on #1016
Thanks for the report.  However, this is expected behavior, and is common to both Go and GopherJS.  Simply put, as the error states "/proto/client" is an absolute path, by virtue of beginning with a "/" character.

Further, Go, and by extension GopherJS, does not support relative (or local) paths in reliable way.  You should always use a fully qualified import path, beginning with the hostname of

[2021-04-07 07:58] #1016 closed

[2021-04-07 12:55] MultiM25 commented on #1016
Thanks for your respond, i tried by adding my module name in front of my import but nothing changed.

`cannot find package "alloasite/proto/client" in any of:
        /home/flo/go/src/wwwalloasitemod/vendor/alloasite/proto/client (vendor tree)
        /usr/local/go/src/alloasite/proto/client (from $GOROOT)
        /home/flo/go/src/alloasite/proto/client (from $GOPATH)`

( alloasite is the name of

[2021-04-09 12:10] flimzy commented on #944
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:10] #944 closed

[2021-04-09 12:12] flimzy commented on #873
It looks like this issue was probably resolved (or would be after #941 was merged). If you're still having this problem, please comment and we can reopen.

[2021-04-09 12:12] #873 closed

[2021-04-09 12:16] flimzy commented on #876
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:16] #876 closed

[2021-04-09 12:17] flimzy commented on #591
Go 1.16's `io/fs` package, which is now supported in GopherJS 1.16, should allow something very close to this. Would this work for you?

If not, or you think this issue deserves more attention, please comment and we'll be happy to re-open.

[2021-04-09 12:17] #591 closed

[2021-04-09 12:18] flimzy commented on #660
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:18] #660 closed

[2021-04-09 12:19] flimzy commented on #670
I believe this issue has now been resolved, as gopherjs now complains with the wrong version of the go stdlib. Additionally, you can use a mismatched version with the GOPHERJS_GOROOT envrionment variable.

If this needs any additional attention, please comment and we'll be happy to re-open.

[2021-04-09 12:19] #670 closed

[2021-04-09 12:20] flimzy commented on #671
@dmitshur If I'm not mistaken, this has been fixed for ages, no? Can this issue be closed?

[2021-04-09 12:21] flimzy commented on #822
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:21] #822 closed

[2021-04-09 12:22] flimzy commented on #823
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:22] #823 closed

[2021-04-09 12:22] flimzy commented on #859
I'm going to close this, as it hasn't seen any activity in 18+ months. If this is still relevant, please comment, and we can reopen.

[2021-04-09 12:22] #859 closed

[2021-04-09 12:26] flimzy commented on #930
Duplicate of #637.

[2021-04-09 12:26] #930 closed

[2021-04-09 12:32] flimzy commented on #934
While fuzz testing is not out of the question, it looks like this particular project has been absorbed into GitLab, so I'm going to close this issue for now.  If this is a mistake, feel free to comment and we can re-open.

[2021-04-09 12:32] #934 closed

[2021-04-09 12:55] theclapp commented on #452
This is touched on in [Gotchas](https://github.com/gopherjs/gopherjs/wiki/JavaScript-Tips-and-Gotchas#gotchas) in the Wiki (which I wrote, in July '16, two months after I filed this question).  Basically it's just an idiosyncrasy of GopherJS.

[2021-04-09 12:55] #452 closed

[2021-04-09 13:02] flimzy commented on #835
I'm closing this in favor of #855, which is an effective duplicate, after modules have been made official.

[2021-04-09 13:02] #835 closed

[2021-04-09 13:03] flimzy commented on #499
This has now been fixed with https://github.com/gopherjs/gopherjs/pull/1015

[2021-04-09 13:03] #499 closed

[2021-04-09 13:04] flimzy commented on #834
GopherJS itself has no relation to React or Redux. There are, however, a few projects that provide GopherJS bindings for React. It's probably best to look at those, and seek support from one of those projects.  You can find some of them listed on the list of GopherJS bindings: https://github.com/gopherjs/gopherjs/wiki/bindings

[2021-04-09 13:04] #834 closed

[2021-04-09 13:07] flimzy commented on #827
Possibly related to #443

[2021-04-09 13:10] theclapp commented on #639
As near as I can tell this is still a problem, even if you fix the part where I used `t{}` instead of `&t{}`.

[Playground link](https://gopherjs.github.io/playground/#/EDh4yjIX4s)

[2021-04-09 13:10] flimzy commented on #814
Should be harmless to fix. Want to submit a PR?

[2021-04-09 13:11] flimzy commented on #816
Thank you for submitting this issue. And my apologies that it has gone unacknowledge for so long.

Are you still interested in working on this?  Do you have any sense of how much effort it will require?

[2021-04-09 13:12] inliquid commented on #1013
I think it's planned for `go1.18`.

[2021-04-09 13:16] flimzy commented on #920
Now in 2021, I think using `go1.16` is sufficient for this. Closing.

[2021-04-09 13:16] #920 closed

[2021-04-09 13:18] flimzy commented on #898
Thanks for reporting this issue. I'm sorry it's gone unnoticed for so long.  Is there any possibility you can include a small code snippet (or link to the GopherJS playground) that reproduces the problem?

[2021-04-09 13:18] #641 closed

[2021-04-09 13:19] flimzy commented on #888
Linking this to our canonical "large files" issue, so it's referenced there:  https://github.com/gopherjs/gopherjs/issues/136

[2021-04-09 13:19] #888 closed

[2021-04-09 13:21] flimzy commented on #877
I've often wished for this, as well. Not becuase pollution is a problem, per se, but because there's no way to know if my global name is used by some other package, so I end up creating global variable names longer than any reasonable person would ever use, just to reduce the chance of collision.

[2021-04-09 13:29] flimzy commented on #847
We've adopted a new semver-based versioning scheme for GopherJS, detailed [here](https://github.com/gopherjs/gopherjs/wiki/Developer-Guidelines#versions).  TL;DR;

<semver>+go<go version>

At present, these versions are roughly in line with each other (at writing, the current vesion is `1.16.0+go1.16.3`), but this will allow us to document changes at a rate differently from Go upstream support, an

[2021-04-09 13:29] #847 closed

[2021-04-09 13:35] flimzy commented on #639
Based on superficial observation only, this may be related to #843

[2021-04-09 14:17] dmitshur commented on #671
Yes, this ended up being a subset of #941 and got implemented in #966 in Feb 2020.

[2021-04-09 14:17] #671 closed

[2021-04-09 15:00] theclapp commented on #640
As near as I can tell, this is still broken.

If you embed a struct type, and DO NOT give it a `js` tag (as in s.T1 below)

[code]

then you can reference `s.F1` directly, instead of saying `s.T1.F1`.

But only _in Go_.  If you need to reference `s.T1` (at all) in Javascript, you can't, since it has no `js` tag.  So excluding the `js` tag for embedded struct fields is not a feasible solution.

[2021-04-09 15:09] dmitshur commented on #672
This proposal ended up being considered in #941 (as "Alternative 2"), but ultimately [not chosen](https://github.com/gopherjs/gopherjs/issues/941#issuecomment-583767534). The alternative solution of adding a `GOPHERJS_GOROOT` that provides the needed Go version standard library on disk was used instead.

It seems we can close this now because the underlying need has been resolved. If something cha

[2021-04-09 15:09] #672 closed

[2021-04-10 05:40] CreatCodeBuild commented on #877
@flimzy Actually that's what I meant by "polluting the global space". Too bad that I haven't get a chance do any GO + JS project for real. So I don't have much input here.

[2021-04-10 07:46] flimzy commented on #929
Fixed with #1015

[2021-04-10 07:46] #929 closed

[2021-04-10 22:39] paralin opened #1018 "Go version check is not portable"
Running Gentoo, the following version check fails:

GopherJS 1.16.0+go1.16.3 requires a Go 1.16.x distribution, but failed to read its VERSION file: open /usr/lib/go/VERSION: no such file or directory

at compiler/version_check.go:22

The gentoo install doesn't create a VERSION file.

[2021-04-10 23:04] nevkontakte commented on #1018
Thanks for the report.

Unfortunately, I don't have access to Gentoo to investigate a solution myself, but as a workaround you can create a VERSION file with `go1.16.3` in it (no new line), assuming that's the Go version you have. If you are interested in contributing a version check that would also work on Gentoo, it would be very welcome.

[2021-04-10 23:17] paralin commented on #1018
I think that this might be better, just assume that they installed GopherJS using the same version of Go as the one they are trying to run:

[code]

[2021-04-11 07:43] flimzy commented on #1018
I wonder if this solution would break GOPHERJS_GOROOT usage. Maybe a safer solution would be to provide some sort of command-line flag to ignore the version check?

[2021-04-11 11:53] nevkontakte commented on #1018
Yeah, because we now explicitly [support](https://github.com/gopherjs/gopherjs/commit/f9cef593def5494318cb50c86cddd459e492531f) building GopherJS tool with a different Go version than the one to be used by GopherJS build itself, this isn't a very safe fallback.

So in my private fork I have [this change](https://github.com/nevkontakte/gopherjs/commit/1c18afce8e0baa0a3a37a7f5e14d66db1f0a090e), whic

[2021-04-13 10:34] #1011 closed

[2021-04-13 10:35] nevkontakte commented on #1011
I believe the problem is fixed now, but please let us know if you run into more corner cases. Thanks!

[2021-04-13 14:30] nevkontakte opened #1021 "Proposal: materialize augmented GOROOT on disk before building"
## Background

GopherJS ships with a set of "augmentations" to the standard library necessary to support JavaScript runtime. For user convenience, the augmentations are compiled into the `gopherjs` tool and are applied on the fly by modifying AST on the fly. Thanks to this, the user doesn't need to worry about patching Go distribution and/or maintaining separate GOROOTs for GopherJS and plain Go.

[2021-04-13 14:31] nevkontakte commented on #1000
This is now implemented and documented in https://github.com/gopherjs/gopherjs/blob/master/doc/pargma.md#golinkname

[2021-04-13 14:31] #1000 closed

[2021-04-13 14:41] nevkontakte commented on #855
I did some research on this and there are some good and bad findings:

  - The good: `go/build` actually gained basic modules support, although `golang.org/x/tools/go/packages` remains the recommended option going forward.
  - The bad: with either package, module support hinges on the ability to run `go list`, so `go/build` module support is automatically disabled if we try to override file system

[2021-04-13 14:43] paralin commented on #855
Right now I make a fake GOROOT and symlink the project root into it, and then "go mod vendor" to ensure vendor/ is there, and it works.

[2021-04-13 14:49] nevkontakte commented on #855
Yeah, that would work, but I think we'd all agree this is by no means the ideal workflow :) Now that I'm done with Go 1.16 support, I'm looking to streamline module support, especially considering that Go 1.17 was going to drop GOPATH support.

[2021-04-13 15:19] findleyr commented on #1011
Thank you! I really appreciate your working on this.

Will let you know if we discovery anything else.

[2021-04-14 15:33] dmitshur commented on #1021
I'll note that in Go 1.16 an [-overlay flag](https://golang.org/doc/go1.16#overlay-flag) was added, which may be relevant. (CC @matloob.)

In general, given the limited resources, I think it's very reasonable for GopherJS developers to make changes that prioritize the ability to understand, iterate and improve GopherJS. I agree that needing to do mental mapping between GOROOT source and augmentati

[2021-04-14 19:26] nevkontakte commented on #1021
Thanks for the feedback.

Thanks for the pointer. I knew about that flag, and it seems to be similar in function to a similar option offered by `go/packages`. I don't think it can help us much as things stand, but I also wanted to experiment with replacing GopherJS build system with the Go tool, turning GopherJS into a compiler/linker toolchain similar to the standard one. The [experiment](https:/

[2021-04-28 16:33] gitloverr opened #1023 "syscall build error on GOOS=darwin"
Hi everyone,

when I import other than the gopherjs library to my go file,  and when I ran the ` "gopherjs build"` cmd, it  throws errors likes those, but when I import only gopherjs it doesn't give me anything error:
`
/usr/local/opt/go/libexec/src/syscall/syscall_darwin.go:118:1: //go:linkname local symbol "libc_getfsstat" is not found in the current source file
/usr/local/opt/go/libexec/src/sys

[2021-04-28 19:14] nevkontakte commented on #1023
Could you please provide complete commands you execute and outputs you are receiving? Also, which GopherJS versions are you using (run `gopherjs version` command to get it).

[2021-04-29 05:47] Marutian commented on #1023
same here on `GopherJS 1.16.1+go1.16.3`

[2021-04-29 12:17] gitloverr commented on #1023
hi, of course. Full commands is here:

My try.go file:

`
[code]
`

My js commands:

`
[code]

`

if I import the "github.com/ava-labs/avalanchego/utils/formatting" package my go file, I'm getting this error... But I extract it, all is fine.

Also my gopherjs version: `**GopherJS 1.16.1+go1.16.3**`

what should I do?

thank you

[2021-04-30 08:38] nevkontakte commented on #1023
Thanks for the details. I am assuming you are building on a Mac, and unfortunately none of the current GopherJS maintainers have it, so it isn't very well tested with Macs. I'll try to see if I can fix this on the weekend.

As a workaround, could you try building with `GOOS=linux gopherjs build <other arguments>`?

[2021-04-30 10:50] gitloverr commented on #1023
Hey @nevkontakte thank you your support. I fixed with `GOOS=linux gopherjs build`

[2021-04-30 23:15] nevkontakte commented on #1023
I'm glad it worked. I'll reopen the issue, though, since overriding GOOS shouldn't be necessary.

[2021-05-03 16:35] #1023 closed

[2021-05-07 14:56] benc-uk commented on #855
Can someone post step by step what the latest workaround is ?

Kinda shocking this has been open for 3 years

[2021-05-07 15:03] flimzy commented on #855
Please see my link in the comments above. It provides step by step directions.

Also keep in mind that this is entirety a volunteer project, with very few active contributors. If you're eager to see this issue addressed, we would gladly welcome any PRs to that effect.

[2021-05-07 15:38] benc-uk commented on #855
Thanks @flimzy I've followed the steps to the letter

Installed the 1.12.3 version of GopherJS and Go 1.12 and I get errors about cannot find package "github.com/agext/levenshtein"
I've tried setting GOROOT, vendoring everything, but no luck :(

[2021-05-15 08:07] benma opened #1025 "x/crypto/chacha20poly1305 regression, now panics"
Here is a snippet to reproduce the problem:

[code]

Compile with `gopherjs build -o test.js`.

Load in a browser:
[code]

Execute in console:

[code]

You will see this error:

[code]

This regression comes from this change in x/crypto, where the build tags were changed for `internal/subtle/aliasing.go`:

https://github.com/golang/crypto/commit/be400aefbc4c83e9aab51e82b8d4b12760653b47#diff-31568a

[2021-05-15 08:20] benma commented on #1025
Possibly the GopherJS `reflect.ValueOf().Pointer()` code has a bug?

cc @x1ddos @FiloSottile, in case you are interested or have some ideas about how to solve this.

[2021-05-15 08:32] benma commented on #1025
I found this, which seems to be a GopherJS internal to implement aliasing.go:

https://github.com/gopherjs/gopherjs/blob/master/compiler/natives/src/crypto/internal/subtle/aliasing.go

I guess somehow it stopped being compiled after the build tag changes.

[2021-05-15 22:04] benma commented on #1025
This PR resolves the problem: https://github.com/gopherjs/gopherjs/pull/1026

[2021-05-17 10:39] aragonet opened #1027 "Undeclared names on Mac M1"
When I try to compile using the latest version of gopherjs (1.16.1+go1.16.3) this is the output errors:

gopherjs build
../../../../../src/syscall/syscall_darwin.go:11:25: undeclared name: libc_stat64_trampoline
../../../../../src/syscall/syscall_darwin.go:13:25: undeclared name: libc_fstat64_trampoline
../../../../../src/syscall/syscall_darwin.go:15:25: undeclared name: libc_lstat64_trampoline

I

[2021-05-17 10:40] nevkontakte commented on #1027
Could you please share your `go env` printout?

[2021-05-17 15:12] aragonet commented on #1027
GO111MODULE="on"
GOARCH="arm64"
GOBIN=""
GOCACHE="/Users/xxxxx/Library/Caches/go-build"
GOENV="/Users/xxxxx/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="arm64"
GOHOSTOS="darwin"
GOINSECURE=""
GOMODCACHE="/Users/xxxxxxx/go/pkg/mod"
GOOS="darwin"
GOPATH="/Users/xxxxxx/go"
GOPROXY="https://proxy.golang.org,direct"
GOROOT="/opt/homebrew/Cellar/go/1.16.2/libexec"
GOSUMDB="sum.gol

[2021-05-17 21:17] mvdan commented on #962
I just got bit by this too; I was really confused at `js.Value.IsUndefined` not being defined for a while.

[2021-05-18 21:45] nevkontakte commented on #1027
Actually, https://github.com/gopherjs/gopherjs/pull/1024 might have fixed this already, but we forgot to tag a new release with it. Could you try GopherJS from master and see if you still have a problem? If not, I'll tag a new release tomorrow.

[2021-05-19 07:14] aragonet commented on #1027
I've installed from master, and the error stills appearing.

[2021-05-19 19:20] nevkontakte commented on #1027
Can you provide a minimal reproduction example and the exact commands you've used?

I've tried the following and it worked just fine:

[code]

`$ GOOS=darwin GOARCH=arm64 gopherjs build .`

Unfortunately, I don't have access to an M1 mac, so this is the closes I can get to reproducing an error.

[2021-05-23 12:54] nevkontakte commented on #1025
The pull request has been merged so I'm closing the issue. Although I'll reiterate my caveat from the PR's comment:

 - The fix will exist as is, as long as it works.
 - If we decide to go forward with #1021 and we don't find a way to make this approach work with overlays for outside of the standard library, the fix will be removed from the overlays.
 - We *might* set up a forked version of `x/cry

[2021-05-23 12:54] #1025 closed

[2021-05-23 13:04] nevkontakte commented on #1027
@aragonet could you please provide a minimal reproduction example? Otherwise I'll assume this is a duplicate of https://github.com/gopherjs/gopherjs/issues/1023.

[2021-05-23 13:16] FiloSottile commented on #1025
If there’s a patch that's not too gopherjs specific that we can carry upstream to avoid a fork, I’d be happy to help land it.

[2021-05-23 14:06] nevkontakte commented on #1025
@FiloSottile I appreciate your offer, I too would very much prefer to avoid a fork.

I've spent some time [looking](https://github.com/gopherjs/gopherjs/pull/1026#issuecomment-846294857) for such a patch, but could not come up with a good one. If you'd like to try yourself, here's a summary of the problem:

 - The problematic function is `AnyOverlap()` form https://github.com/golang/crypto/blob/ma

[2021-05-24 08:39] aragonet commented on #1027
Sorry for answering a bit late. Just tried to build the code you provided and the same three lines of output appear.

[code]

If there is any way I can help you find the problem I'll be pleased.

[2021-05-24 09:48] nevkontakte commented on #1027
Ok, thanks, confirming this is still an issue. It is strange that it builds just fine for me despite setting GOOS/GOARCH to match yours. Perhaps, there's a deeper bug lurking about here... I'll investigate more sometime this week.

[2021-05-30 22:11] #1027 closed

[2021-06-02 20:24] nevkontakte opened #1030 "JS exception wrapped into a panic causes deferral stack corruption"
I ran into this bug while trying to get upstream `syscall/js` test suite pass for our implementation. The following sequence of events causes a corruption of the stack of deferred functions and leads to either bad stack unwinding or loss of some of the deferred functions:

JS exception → recover() → panic() → recover()

Below is the minimal reproduction example:

<details>
<summary>Minimal reprodu

[2021-06-02 21:04] #1030 closed

[2021-06-03 18:21] #962 closed

[2021-06-03 22:41] nevkontakte commented on #693
I would like to revive discussion of this proposal. Now that the upstream support `js,wasm` architecture we could reduce the amount of standard library overlays we maintain by reusing some of that code.

To be coherent with the upstream I would propose using `GOOS=js GOARCH=ecmascript`, which reflects that we run in the same JS environment, but our generated code is, in fact, ES5.

As a proof of c

[2021-06-04 02:57] dmitshur commented on #693
In the Go project, an area we wanted to explore is improving experience for out-of-tree ports to reduce the need for having all ports be added in-tree. GopherJS is a compiler for an out-of-tree port. If there’s a small and reasonable change in the main repo that can help here significantly, I think it would be worth proposing and considering.

However, I don’t quite understand why a change would n

[2021-06-04 18:21] nevkontakte commented on #693
Sorry, I realize now that my original comment had a few logical leaps that are likely confusing to anyone who can't read my mind 😅

Here's my chain of reasoning:

 - Originally GopherJS needed host's GOOS to interact with the OS (file system, etc.) and there wasn't one GOOS value that would be portable in the context of nodejs.
 - The price for the ability to do that was extra complexity of suppor

[2021-06-06 20:51] flimzy opened #1033 "`master` branch no longer understands import paths that end with a version"
I don't know if this is actually a regression in `master`, or if it was a bug that it worked in older versions.

To reproduce, use a versioned module import path such as `github.com/go-kivik/kivik/v4` and create a `go.mod` file:

[code]

As expected, this works with all modern versions of Go. It also works with older versions of GopherJS:

[code]

But as of the latest version of GopherJS, it no lo

[2021-06-06 22:59] dmitshur commented on #1033
`astutil.UsesImport` works correctly when the name of all imported packages is exactly equal to `path.Base` of their import path, but can produce incorrect results in situations where that isn't the case. Perhaps the fix is to replace the use of `astutil.UsesImport` with a version that takes actual package name into account. (It requires imported packages to be loaded, at least enough to know thei

[2021-06-07 08:13] flimzy commented on #1033
@nevkontakte, @dmitshur Do you have any feeling on which is the actual correct/intended behavior?

If I use the `main.go` mentioned above, with no `go.mod`, then even upstream Go behaves as gopherjs (since it's operating in GOPATH mode).

Was it an intentional decision to support module imports in GOPATH mode in GopherJS, or was that just a "happy accident" at some point?

[2021-06-07 16:13] nevkontakte commented on #1033
Yep, making this information available would be ideal indeed. I am currently also considering two middle ground options:

 - Find a way to instruct `go/types` to ignore unused imports, which would allow us to prune function bodies, but not bother dealing with imports.
 - Take a step back in function body pruning and only remove the ones instructed to (via a compiler directive of some sort). It wil

[2021-06-13 15:04] nevkontakte commented on #603
I ran into this bug too and I think I know what's the issue here. Consider the following program:

[code]

Here's the code `f` compiles into:

[code]

When the function executes the first time, it successfully passes through the `$s = -1; return 42;` statement and would've returned 42 as expected if the deferred function didn't get blocked. But the deferred function does get blocked, and when func

[2021-06-13 15:56] nevkontakte commented on #603
Thinking a bit more about this, the right fix is to treat the return statement as blocking in case any of the deferred functions are blocking. And for a blocking return statement we need to compute the return value, store it in a temporary variable, generate a new resumption case and then returned the stored value.

[2021-06-14 14:21] #1033 closed

[2021-06-14 15:27] nevkontakte commented on #1033
@flimzy could you double-check that the issue went away? Then it would be a good moment to cut a new release.

[2021-06-19 20:30] nevkontakte commented on #976
Considering lack of activity, I'm closing this issue. Please let us know if you still think this is an issue and we can reopen it.

[2021-06-19 20:30] #976 closed

[2021-06-19 20:45] nevkontakte commented on #975
Hi @dithmer, sorry for getting back to you so late. I've tried to reproduce this issue with the latest version of GopherJS using https://github.com/dithmer/fzf/tree/gopherjs, but I'm getting build errors for `golang.org/x/sys/unix`, which GopherJS doesn't support:

[code]

Could you provide a minimal reproduction example using the latest version of GopherJS?

[2021-06-19 21:50] nevkontakte commented on #927
https://github.com/jaynagpaul/go-web3 seems to offer web3.js bindings (although I don't know if they are functional).

As for PWA, there's not much to say that would be GopherJS-specific. https://web.dev/progressive-web-apps/ is a good general resource that will help you with PWA fundamentals and will help you writing your manifest.

I'll be happy to answer more specific questions if you have any.

[2021-06-19 21:50] #927 closed

[2021-06-19 21:51] #925 closed

[2021-06-19 22:09] #906 closed

[2021-06-19 22:10] nevkontakte commented on #906
Considering that the described behavior appears to be the correct one and lack of activity, I'm closing this bug.

[2021-06-21 11:30] #603 closed

[2021-06-21 11:30] #968 closed

[2021-06-21 11:31] #922 closed

[2021-07-05 09:01] ANPetru opened #1041 "Syscall runtime errors on M1 Macs (darwin/arm64)"
I have been having the same issue as this one: https://github.com/gopherjs/gopherjs/issues/1027, and this commit solved the build errors :https://github.com/gopherjs/gopherjs/pull/1029

But unfortunately I am now having the following runtime error: `Uncaught Error: runtime error: native function not implemented: syscall.libc_sysctl_trampoline`

[2021-07-05 20:04] nevkontakte commented on #1041
Unfortunately, this might be tricky for be to debug, since I don't have access to an M1 Mac (or any Mac for that matter).

Is your target environment nodejs or the browser? In the latter case I'd recommend a workaround of building with GOOS=linux. At this point in time linux support is much better tested and supported.

[2021-07-06 10:43] ANPetru commented on #1041
I tried building with GOOS=linux and it work's correctly, no runtime errors. I will use this workaround for now
Thank you!

[2021-07-18 22:35] nevkontakte commented on #855
Hi folks!

I've opened https://github.com/gopherjs/gopherjs/pull/1042 which brings proper Modules support to GopherJS. However, since Modules are complicated and full of gremlins, I would appreciate if people could try using the version from the PR on their projects and reporting back any errors encountered. Reporting successes would be also nice 🙂

[2021-07-18 23:40] paralin commented on #855
@nevkontakte thanks, will test it out :)

[2021-08-02 13:08] #855 closed

[2021-08-04 01:13] paralin opened #1046 "build: consider setting gopherjs build tag on default"
At the moment "js" is set as a tag, but "gopherjs" is not.

Consider setting "gopherjs" as a default tag to distinguish between Wasm and GopherJS environments.

[2021-08-04 01:15] paralin opened #1047 "syscall.Stat_t: consider shimming os.Ctime"
Such that the following code (from go-git) compiles properly without requiring a separate logic for GopherJS:

[code]

Does this make sense to do?

[2021-08-04 09:54] nevkontakte commented on #1046
Agreed, this is something I have thought of doing a few times as well, but never gotten around to it. Would you like sending a pull request?

[2021-08-04 09:59] nevkontakte commented on #1047
Could you provide a broader context for this? What are the `sys` and `os` variables here? I think a small, self-contained example would be useful here. Also I would like to understand why the syscall doesn't work in the first place, I assume you are using the node-syscall extension?

[2021-08-04 11:24] paralin commented on #1047
https://github.com/paralin/go-git/commit/d84485be5d08493cfd42afa5aeca8401b8d9be68

[2021-08-04 19:19] nevkontakte commented on #1047
Yes, I saw the link GitHub helpfully added to the issue 🙂 Unfortunately, the commit by itself doesn't really answer any of my questions, for example what this `sys interface{}` actually is. I'd have to read go-git codebase to find that out, which is unfamiliar to me and would take awhile. If you couple provide a short self-contained program that reproduces the issue it would save me a considerable

[2021-08-04 20:16] paralin commented on #1047
@nevkontakte it builds with GOOS=js and GOARCH=wasm but if you try to build it with gopherjs you get time.Unix and os.Ctime not defined errors.

The reason why I submit this issue is because this is a case where gopherjs requires an entirely separate build flagged file for removing this call, when it's supported in wasm.

Don't we expect things that work in wasm to also build and run in gopherjs?

[2021-08-04 21:29] nevkontakte commented on #1047
Oh, I think I see what's going on. I was thrown off by the variable `os` thinking that it has to do with the package `os` and being incredibly confused 😅

But now I realized that `syscall.Stat_t` is defined differently under for [`linux/amd64`](https://cs.opensource.google/go/go/+/refs/tags/go1.16.6:src/syscall/ztypes_linux_amd64.go;l=101;drc=cedb561617ea40c72dc018b38c4d5f0862595fe8) and [`js/wasm

[2021-08-17 16:05] RICEVAGUE opened #1049 "The \src\runtime\fastrand.go does not exist"
Hello, I have installed the gopherjs by "go get -u github.com/gopherjs/gopherjs"
And I could run the "gopherjs" command in CMD.
However, I get a error when I tried to "gopherjs build x.go".
The error information is that

[31m[compiler panic]  open C:\Program Files\Go\src\runtime/fastrand.go: open /\src\runtime/fastrand.go: file does not exist

 goroutine 1 [running]:
runtime/debug.Stack(0xc0000d4

[2021-08-17 17:54] nevkontakte commented on #1049
Unfortunately, Windows is not a supported platform at the moment, only Linux and MacOS are. However, [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) works well for GopherJS, so maybe you could use that?

[2021-08-28 10:51] LeSonHai opened #1053 "New"
New update

[2021-08-28 15:49] nevkontakte commented on #1053
Hi. I'm not sure what you mean. Could you tell more?

[2021-08-30 20:48] grantnelson-wf commented on #780
Still getting the same console error with no output when running the [gopherjs test on the playground](https://gopherjs.github.io/playground/#/zPw8fJlyxp) (go1.16.3). The same test on the [go playground works correctly](https://play.golang.org/p/Jobc1JL87Bc).

[2021-08-30 21:07] nevkontakte commented on #780
The playground lags a bit behind the releases, but I was able to reproduce the issue on the latest release. This seems similar to the issue I've fixed in https://github.com/gopherjs/gopherjs/pull/1031, but apparently is different enough to survive that fix :)

`null` output is a smoking gun here. GopherJS throws null to unwind stack after handing a panic. Apparently it doesn't unwind correctly in

[2021-08-30 21:16] grantnelson-wf commented on #780
Awesome, thanks. 😄 👍  I will check out the debugger. I've just been keeping an eye on this one since we still have code in various places which does this, and we haven't been able to rework it all to prevent hitting this case (and we were hoping this bug will eventually be fixed). Fortunately no customers have ever hit those error handlers in all this time so I'm not too worried about it.

[2021-09-11 17:37] nevkontakte commented on #1053
I'm closing this issue due to lack of response. Please feel free provide additional details to reopen it.

[2021-09-11 17:37] #1053 closed

[2021-09-11 17:43] nevkontakte opened #1056 "Compiler panic when computing array lengths"
I found following examples that cause the compiler to panic:

**Example 1:** `[compiler panic]  Unhandled len type: *types.Array`
[code]

**Example 2:** `[compiler panic]  interface conversion: interface is int64, not int`.

Note that return value of `a()` is no longer dereferenced.

[code]

I expect there are similar problems with `cap()`.

[2021-09-17 15:13] nevkontakte commented on #662
It appears that this is no longer reproducible in the current GopherJS 1.16.x versions. Please feel free to reopen if I'm mistaken.

[2021-09-17 15:24] nevkontakte opened #1060 "`unsafe.Pointer(nil)` doesn't convert correctly to other pointer types."
GopherJS's zero value for `unsafe.Pointer` is a numeric `0` (I'm guessing for interop with `uintptr`, but not entirely sure). However, this is incompatible with a pointer interface and causes incorrect behavior when converted into another pointer type:

[code]

By contrast, if `up` is initialized with `unsafe.Pointer((*bool)(nil))`, the program works correctly.

[2021-09-17 18:31] flimzy opened #1062 "Remove custom implementation of `hash/maphash`"
https://github.com/gopherjs/gopherjs/pull/1059 forked some key parts of the `hash/maphash` package for GopherJS compatibility. But, as of this writing, upstream appears likely to accept https://github.com/golang/go/issues/47342, a proposal for a `purego` implementation of this package which will likely render the GopherJS customizations of this package redundant.

Assuming that proposal is accepte

[2021-09-17 22:57] nevkontakte opened #1063 "Incorrect lhs evaluation order in multi-assignments"
The spec says the following:

However, gopherjs evaluates lhs expressions at the time of assignment. In situations when one of the assignments modifies a variable referenced by another assignment, the result may be incorrect. For example:

[code]

Go prints  `0 4`
GopherJS prints `4 0`

Related: https://github.com/golang/go/issues/23017.

[2021-09-18 18:30] #1018 closed

[2021-09-29 13:30] serge-hulne opened #1069 "xhr-http-post-json returns : "Warning: unreachable code after return statement""
Machine used: Mac mini M1 silicon chip.
Browser used: FireFox 92.0.1
GopherJS : GopherJS 1.17.0+go1.17.1
Go version : go version go1.17 darwin/arm64

I tried the "POST" request example using xhr from: https://siongui.github.io/2016/01/21/go-xhr-http-post-json-by-gopherjs/

I get the following warning in the browser tools (client-side: FireFox):

```unreachable code after return statement```

and o

[2021-09-29 14:31] serge-hulne commented on #1069
The code of my client-side app is:

[code]

[2021-09-29 14:58] serge-hulne commented on #1069
..in other words, the app above (in Go via GopherJS) does not seem to compile to valid JavaScript when http.Post is used.

[2021-09-29 15:02] serge-hulne commented on #1069
If I comment out the http.Post part, the app works as expected (but of course, it defeats the purpose):

[code]

[2021-09-29 15:37] flimzy commented on #1069
Likely related to (and possible duplicate of?) https://github.com/gopherjs/gopherjs/issues/575

[2021-09-29 16:18] serge-hulne commented on #1069
This works, though:

[code]

[2021-09-29 19:27] nevkontakte commented on #1069
I won't have time to give it a close look until the weekend, but one possibility is that you are making a blocking call from a JavaScript event handler, which may not be correctly interacting with the goroutine scheduler.

Can you try replacing `b.Call("addEventListener", "click", post_it)` with `b.Call("addEventListener", "click", func() { go post_it() })`?

[2021-09-29 19:37] serge-hulne commented on #1069
Thank you for your answer @nevkontakte. I tried your suggestion, but it I still get the same warning.

[2021-09-30 07:56] serge-hulne commented on #1069
Alternatively, I suppose I could use the GopherJS wrapper around the Fetch() api to do POST requests from the client-side (instead of using XMLHttpRequest).

Are there a few examples on how to use fetch() with GopherJS() to do GET, POST requests?

[2021-10-03 14:35] nevkontakte commented on #693
I'm going to give this a go, since I suspect this will have several simplification benefits for our users, as well as for maintenance. Roughly my plan is:

  - All standard library packages are built with `GOOS=js GOARCH=wasm` to maximize code reuse with upstream.
  - All user code is built with `GOOS=js GOARCH=ecmascript`.
  - Build tag `gopherjs` is always set.

At the moment I'm conducting earl

[2021-10-03 17:24] nevkontakte commented on #1069
@serge-hulne I've taking a closer look at your example. There are several places in the generated JavaScript where Firefox shows this warning, but in all cases it is benign. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Stmt_after_return has a bit more info about this warning, at its main purpose is to catch mistakes in hand-written JavaScript, but not so much in a compi

[2021-10-03 17:26] serge-hulne commented on #1069
All right. Thank you.

[2021-10-03 17:26] #1069 closed

[2021-10-03 20:47] nevkontakte commented on #575
https://github.com/gopherjs/gopherjs/pull/1071 should eliminate "unreachable code" warnings in Firefox for both cases that this issue mentions.

The Closure compiler warnings mentioned in https://github.com/gopherjs/gopherjs/issues/575#issuecomment-290949543 are of a different kind, based on a much more advanced analysis it does. AFAIK, GopherJS is not very friendly to Closure compiler in general.

[2021-10-04 10:19] #575 closed

[2021-10-05 19:31] paralin commented on #693
@nevkontakte Looks good, thanks, will try to test it. following your  branch.

[2021-10-08 19:54] iwctwbai opened #1072 "chinese characters passed in non-string types will be garbled"
[code]

[2021-10-09 12:37] iwctwbai commented on #1072
thanks

[2021-10-10 19:07] zergon321 opened #1073 "Always get 'Uncaught TypeError: Cannot read properties of undefined (reading 'exports')' when try to load the compiled library in a browser"
My [library](https://github.com/zergon321/kosuzu) I compiled with **GopherJS** works perfectly when I use it with **NodeJS** (see the [example](https://github.com/zergon321/kosuzu/blob/master/js/test.js)). But when I try to load it in a browser in this manner:

[code]
It doesn't load and the **Chrome** debug console only prints these lines:

[code]

And also tells all the functions I exported are

[2021-10-11 21:17] nevkontakte commented on #1073
@zergon321 the fastest way to get help is to provide a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_working_example). It took me some time to find my way around your library, and I'm still not sure I know exactly what you are doing 😉

I assume https://github.com/zergon321/kosuzu/blob/master/js/main.go is the main package you are compiling, right?

I see you have this code i

[2021-10-11 21:34] nevkontakte commented on #1072
Can you tell more specifically how are you getting garbled text? I tried to reproduce your issue, but it all seems to work fine for me:

`main.go`:

[code]

`test.js`:

[code]

Execution:

[code]

A step-by-step reproduction sequence and exact versions of Go, GopherJS and NodeJS you are using would help.

[2021-10-11 22:09] Michael-F-Ellis opened #1074 "fmt.Println() panics"
Just installed `gopherjs` and `go1.17.2` on my mac.  Calls to fmt.Println() are panicking in the browser.  I've reduced it to the simplest possible test case:
[code]
No errors or warning when transpiling. The error reported in the browser (via devtools) is:
[code]
Paths and system info:
[code]

I'm new to gopherjs (but not to Go) so this is probably some silly configuration issue but darned if I c

[2021-10-22 20:07] nevkontakte opened #1078 "A pair of communicating goroutines can starve other goroutines"
The program below implements a typical timeout cancellation pattern for a pair communicating goroutines:

[code]

Under regular Go this program exits after 1 second as one may expect, however under GopherJS it runs forever: even though the two goroutines that are passing messages through the channel get blocked and unblocked on a regular basis, the sleeping goroutine never returns from the sleep.

[2021-10-23 20:03] #1078 closed, assigned to nevkontakte

[2021-10-23 23:04] #79 closed, assigned to nobody

[2021-10-23 23:07] #137 closed, assigned to nobody

[2021-10-23 23:59] #346 closed

[2021-10-27 14:05] nevkontakte opened #1080 "Proposal: allow customizing externalization and internalization logic for user-defined types."
Note: this is a very rough sketch of a proposal to serve as a reference in other issues, more design work is required to make it fully practical.

# Proposal

 - If a user type implements `Externalizer` interface, GopherJS will use the result of `Externalize()` method when exporting this object to JavaScript. Otherwise standard conversion rules are applied.
 - If a user type implements `Internaliz

[2021-11-01 14:08] benma commented on #524
We are running into this problem. We'd like to use webpack code splitting to load the GopherJS-compiled module on demand and remove it from the main bundle, mainly due do the large output size. It seems webpack and the current Gopherjs output is not compatible and this issue might solve this.

It would be great to address this issue.

[2021-11-01 14:29] benma commented on #891
For another point in favour of ES6, see this comment in the related issue:

https://github.com/gopherjs/gopherjs/issues/524#issuecomment-956265776

We cannot make code splitting work, and webpack also spits out warnings such as

Our dev team has been wrestling with this for days already (with no result yet). If the output would be ES6, it would work much easier with webpack.

[2021-11-01 14:35] nevkontakte commented on #524
@benma it is possible to make GopherJS output behave like a single CommonJS module — it's mostly a matter of exporting the interfaces you want via `js.Module`. Though I haven't verified this myself, I think webpack should be able to split that out from the bundle.

Overall, I'd like GopherJS play more nicely with JavaScript ecosystem, but on my personal priority list this comes after a number of c

[2021-11-01 14:42] nevkontakte commented on #891
@benma if you could file this as a separate issue with a minimal reproduction example for this warning along with the expected/observed behavior, it would be a lot easier for us to investigate possible solutions that require less than grand architectural redesigns :)

FWIW, according to our [survey](https://forms.gle/LexHDXXEEmzRoVRx7) results, only ~9% of users are targeting ES5 specifically, so

[2021-11-05 22:02] nevkontakte commented on #200
This was fixed upstream in https://go-review.googlesource.com/c/go/+/359137.

[2021-11-07 20:27] nevkontakte opened #1083 "Panic recovery + defer inside defer + a blocking call causes incorrect execution resumption."
Reproduction example:

[code]

Under GopherJS `panic("this line must never execute")` gets executed despite the fact panic recovery happens in the deferred function of `serve()`. The exact sequence of events is hard to summarize, but in short the first `panic()` runs deferred function and eventually recovers. However, because `recoverAndBlock()` defers another function, GopherJS runtime incorrectl

[2021-11-08 11:15] nevkontakte commented on #780
Good news, I've looked into this bug last night (as I was looking into a similar one I ran into on my experimental branch) and https://github.com/gopherjs/gopherjs/pull/1084 has a fix for it 🙂 Once the pull request is merged, I'm going cut a fresh release, since we have a fair few changes accumulated by now.

[2021-11-08 12:03] #780 closed

[2021-11-08 12:03] #1083 closed

[2021-11-08 12:49] benma commented on #524
@nevkontakte thanks a lot! Using js.Module was necessary to make it work (we also had to upgrade from webpack 4 to webpack 5). Cheers!

[2021-11-08 12:54] benma commented on #891
@nevkontakte It turned out that this warning did not impact code splitting - that now [works](https://github.com/gopherjs/gopherjs/issues/524#issuecomment-963118012) but the warning still remains.

The warning goes away is I replace `$global.require` with `require` in the generated output. I will try to post an example soon. Skimming the generated code, it seems using `require` directly should wor

[2021-11-11 13:57] nevkontakte opened #1085 "Include original function names in the source map"
While GopherJS tends to name JS functions similar to the Go ones, the names in the stack trace don't match exactly, which tends to break code that expects particular formatting of the stack trace function names.

[`relevantCaller()`](https://github.com/golang/go/blob/c49627e81b05f23f97544fc6bfae3347296b4a06/src/net/http/server.go#L1115-L1132) in `net/http` package is the most recent example I came

[2021-11-16 11:45] DaveHasteSpringer opened #1088 "Compiler panics when building golang.org/x/sync/singleflight"
Recent versions of golang.org/x/sync/singleflight cause a panic in the gopherjs compiler.

These are the versions of Go and GopherJS that I'm using:

[code]

This is the most concise test code I can use to reproduce the problem:

[code]

This is my go.mod file:

[code]

The code builds fine with the go compiler:

[code]

However the GopherJS compiler panics:

[code]

From what I can tell, this is

[2021-11-16 12:36] DaveHasteSpringer commented on #1088
As a workaround, it seems that changing `go panic(e)` to `go func() { panic(e) }()` in the singleflight library avoids the compiler panic.

[2021-11-16 19:31] grantnelson-wf commented on #780
That is great news. Thank you for looking into this.

[2021-11-21 14:45] nevkontakte commented on #1088
@DaveHasteSpringer thanks for the report. Looks like the compiler doesn't expect the body of a goroutine to be a built-in function (such as panic), and this is indeed an odd way to write code. However, this is definitely a bug and I'll see of I can make a fix for it.

[2021-11-21 15:49] nevkontakte commented on #1088
There's another flavor of the same bug:

[code]

The root cause of the bug is similar: certain methods of `js.Object` type are normally compiled into JS expressions other than function calls, but it doesn't happen in conjunction with the `go` keyword.

A similar bug was fixed for `defer` here: https://github.com/gopherjs/gopherjs/pull/998.

[2021-11-21 15:51] nevkontakte commented on #1088
Looks like this issue has been reported earlier: https://github.com/gopherjs/gopherjs/issues/547. I'm going to close this one in favor of the older one and continue there.

[2021-11-21 15:51] #1088 closed

[2021-11-21 15:52] nevkontakte commented on #547
Another report of this issue: https://github.com/gopherjs/gopherjs/issues/1088.

There's another flavor of the same bug:

[code]

The root cause of the bug is similar: certain methods of `js.Object` type are normally compiled into JS expressions other than function calls, but it doesn't happen in conjunction with the `go` keyword.

A similar bug was fixed for `defer` here: https://github.com/gophe

[2021-11-21 16:01] nevkontakte commented on #547
Looking at comments above, compiling built-in function goroutines inline is not valid for all built-ins, for example:

[code]

According to the Go spec, this program should crash:

So semantically it's not equivalent to the inlined version, where `ShouldCrash()` will return without reaching `select {}` statement:

[code]

[2021-11-22 10:09] DaveHasteSpringer commented on #1088
@nevkontakte Ah yes, that does look like the same type of issue. Thanks for looking into it.

[2021-11-22 14:45] soypat opened #1091 "wiki/bindings: Three.js: github.com/Lngramos/three outdated"
I have been working on a fork from this library with vast improvements to support latest `three.js` version here: https://github.com/soypat/three

[2021-11-22 14:50] soypat commented on #1091
I just figured out wiki is editable. solved.

[2021-11-22 14:50] #1091 closed

[2021-11-26 04:07] derickweng commented on #892
Are you fixed it？

[2021-11-26 22:36] nevkontakte commented on #892
@derickweng  I've checked out the latest version of this library and was able to `gopherjs build ./...` it with no errors. If you have an issue with this particular library, please provide the exact description of your problem.

[2021-12-15 07:52] flimzy opened #1092 "Add Go 1.18 support"
[Go 1.18 beta 1 is out](https://go.dev/blog/go1.18beta1). That means it's time to start working toward adding support to GopherJS.

 - [x] Compile and execute fuzz targets like normal tests. https://github.com/gopherjs/gopherjs/pull/1132
 - [x] ~Re-enable `encoding/xml` tests once generics are supported.~ Moved to https://github.com/gopherjs/gopherjs/issues/1013.
 - [x] Generate explicit errors wh

[2021-12-15 22:35] nevkontakte commented on #1092
Was there no RC this time? In any case, it's time indeed. I propose to separate generics support from the rest of 1.18, since this is a large feature that will require quite a bit of design and implementation effort.

Skimming through the [draft release notes](https://tip.golang.org/doc/go1.18), I note the following:

 - Fuzz support would be fancy, but realistically it is quite far out of GopherJ

[2021-12-19 12:36] #547 closed

[2021-12-19 12:55] nevkontakte commented on #1092
I've created a new [go1.18-wip](https://github.com/gopherjs/gopherjs/tree/go1.18-wip) branch to do the work in.

Here's an easy recipe to start working on 1.18 support:

[code]

[2021-12-22 18:52] elsanussi-s-mneina opened #1093 "Code in Readme does not compile js.Global. versus js.Global()."
The source code lines in the Readme.md file with "js.Global." did not work when I tried to compile them using

I get the following error message:
js.Global.Get undefined (type func() "syscall/js".Value has no field or method Get)

After running the following command, where surround.go is a file on my computer.
GOOS=linux gopherjs build surround.go

I tried using "js.Global()." with parentheses ins

[2021-12-22 19:41] nevkontakte commented on #1093
Hi! Please note that there are two "js" packages: `syscall/js` from the standard library and `github.com/gopherjs/gopherjs/js` provided by GopherJS itself. The two packages are similar, but not interchangeable and examples in the README use `github.com/gopherjs/gopherjs/js`. GopherJS implements both to facilitate compatibility with the code written for Go WebAssembly.

[2021-12-22 19:41] #1093 closed

[2021-12-26 01:13] EwenQuim opened #1094 "bug: $module is not defined in browser"
This one is a bit disturbing. I have got a very simple script that works perfectly on node but not on the browser.

[code]

You can easily reproduce it with `gopherjs build -o lib.js` and this small html file:

[code]

![image](https://user-images.githubusercontent.com/46993939/147396230-0783c676-df11-4ded-8191-8ae681ce8ea2.png)

[2021-12-26 01:21] nevkontakte commented on #1094
Hi @EwenQuim, this is working as intended.

`js.Module` compiles into `module` variable. It is only available in runtimes that natively support CommonJS module spec, which [Node does support](https://nodejs.org/api/modules.html). However, browsers do not support CommonJS, so this variable is undefined there. You can probably make it work if you pass GopherJS output through a bundler like webpack,

[2021-12-26 01:26] EwenQuim commented on #1094
Thank you for your quick answer, I'm on the right tracks now.

[2021-12-26 01:26] #1094 closed

[2021-12-28 08:18] #806 closed

[2021-12-29 16:59] vkuznet opened #1099 "Simple example tutorial"
Hi,
I'm new to the library and would like to explore it. But I find it very difficult to find out very basic example how to write Go code for JS functions I may need to use in HTML. For example, if I have this html:
[code]
how I should write the go code for it? There is a `main` function which I would assume should define everything. Where `funcA` and `funcB` should be defined and what the purpose

[2021-12-29 18:56] nevkontakte commented on #1099
Hi @vkuznet! There are a couple of ways to do it.

If you want to export a Go function into the global namespace, you can do something like this:

[code]

However, if you are looking to set event handlers specifically (as you example implies), there is a cleaner approach:
https://siongui.github.io/2016/01/11/gopherjs-dom-example-event-binding-addEventListener/

Good beginner documentation is, unfo

[2021-12-29 18:56] #1099 closed

[2022-01-03 16:00] flimzy commented on #1074
@nevkontakte  I think defaulting to `GOOS=linux` makes sense, as it's a clear improvement over the current state.

If we determine that's not sufficient for some people, we can consider adding proper darwin support in the future?

[2022-01-03 16:07] flimzy commented on #946
@paralin I realize I'm really late to this party, and you likely have moved on. But would it be possible to add a reproduction case to this issue?

[2022-01-04 00:07] paralin commented on #946
@flimzy Unfortunately I have indeed moved on but will revisit gopherjs soon. I'll re-open if this is still an issue then. Thanks.

[2022-01-04 00:07] #946 closed

[2022-01-04 12:45] flimzy opened #1102 "Proposal: Add js.Call function"
We already have `js.Global.Call()`, but this only works for methods on the global object. Not all JS functions are methods.  Several if these are exposed via the [`jsbuiltin` package](https://github.com/gopherjs/jsbuiltin/blob/master/jsbuiltin.go) I created a few years ago, but I wonder if it might make more sense to add the ability to call such functions (and by extension, any other functions in

[2022-01-04 15:10] nevkontakte commented on #1102
Reading the `jsbuiltin` code, all functions that it provides access to are actually accessed through `js.Global.Call`, so I'm not sure this statement is correct, which demonstrates that `js.Global.Call` interface is sufficient.

There are three functions in that package that stand out: `TypeOf`, `InstanceOf` and `In`, but they actually represent JS operators, not functions. So I'm not sure how the

[2022-01-04 15:21] flimzy commented on #1102
I was struggling with `btoa` and `atob` today, which is what prompted this issue.  I guess I prematurely jumped to the conclusion that the builtin package was solving precisely the same problem.  AFAICT, there's no way to call `btoa` or `atob` as methods. But maybe I've overlooked soemthing.

[2022-01-04 15:31] nevkontakte commented on #1102
I think this requires a deeper investigation. For example, in the Chrome console `window.btoa` is defined:

[code]

[2022-01-26 17:57] iwctwbai commented on #1072
I'm sorry. Looks like my problem.

[2022-01-27 19:24] #1072 closed

[2022-01-27 23:21] nevkontakte commented on #1072
No worries! Glad you figured it out.

[2022-02-07 00:35] paralin opened #1103 "Proposal: move code out of tool.go"
Right now there is a lot of code in tool.go, defined under in-line functions.

Ideally this code would be broken out into packages accessible when using Gopherjs as a library:

[code]

^^ These steps :)

[2022-02-09 14:02] msikma opened #1104 "Question: how to debug non-compiling code? (syscall error)"
Hi all. I'm a JS dev who's a total noob to Go, and I've been looking into GopherJS because I'm currently working on a tool that will run in the browser and would really greatly benefit from being able to run a library written in Go that's not available on any other platform.

For testing purposes I'm doing everything in Node so far. What I've been wondering about is if there's some way to more eas

[2022-02-09 21:03] nevkontakte commented on #1103
Yes, a lot of what's currently in tool.go should really be in the build package. In theory, you can already do a lot with the build package, though beware that breaking changes to that package API can and will happen :)

[2022-02-09 21:16] nevkontakte commented on #1104
First, appreciate a detailed report, it makes a lot easier to provide support :)

Are you using an M1 Mac? It is, unfortunately, a known problem that under M1 Mac GopherJS doesn't work well: https://github.com/gopherjs/gopherjs/issues/1041. The biggest problem is that neither of current GopherJS maintainers have an M1 Mac, so it's hard for us to test against it. If you build with GOOS=linux, but r

[2022-02-09 21:18] paralin commented on #1103
Indeed, this is my build script:

[code]

[2022-02-11 16:03] msikma commented on #1104
Thanks for your help! I totally forgot to mention this, but I'm on macOS 10.14 on an Intel machine, so this is not an M1 issue at least.

I'm going to actually try a slightly different route, since my eventual goal is to have this run in the browser rather than on Node I'll just see if I can use with a binary buffer as input rather than a filename, and then figure out how to connect a JS browser f

[2022-02-14 21:45] nevkontakte commented on #1104
Glad to hear that. I'll close this issue for now, feel free to reopen if you have more questions. Also, we have a #gopherjs channel in the [Gophers slack](http://blog.gopheracademy.com/gophers-slack-community/#how-can-i-be-invited-to-join:2facdc921b2310f18cb851c36fa92369), feel free to join and ask there :)

[2022-02-14 21:45] #1104 closed

[2022-02-18 18:20] Bluebugs opened #1106 "gopherjs deadlock with mqtt/websocket library port"
Trying gopherjs with mqtt/websocket in both Chrome and Firefox as in this branch: https://github.com/Bluebugs/paho.mqtt.golang/tree/bugs/gopherjs-deadlock lead to a deadlock in the following function:  https://github.com/Bluebugs/paho.mqtt.golang/blob/bugs/gopherjs-deadlock/token.go#L101 when called from https://github.com/Bluebugs/paho.mqtt.golang/blob/bugs/gopherjs-deadlock/net.go#L216 .

I trie

[2022-02-19 20:36] #440 closed

[2022-02-20 18:04] nevkontakte commented on #1106
Thanks for the detailed report, I was able to reproduce it. I'll see if I can find the root cause.

[2022-02-20 21:21] nevkontakte commented on #1106
@Bluebugs I can confirm this is a GopherJS compiler bug. Your intuition was spot on — the bug happens when `baseToken.flowComplete()` is called from [this goroutine](https://github.com/Bluebugs/paho.mqtt.golang/blob/8f37e5665bd98b3ac3fc0f6c6a1284f6a00fff70/net.go#L216). I was able to reduce reproduction to this example: https://gopherjs.github.io/playground/#/j4KWe1e1vS. Note that the `Do()` metho

[2022-02-20 21:26] nevkontakte commented on #1106
Actually, never mind, the fix turned out to be simpler than I though: https://github.com/gopherjs/gopherjs/pull/1108.

[2022-02-21 02:29] #1106 closed

[2022-02-21 17:45] Bluebugs commented on #1106
Thanks for the quick fix and the detailed explanation of how gopherjs work, very much appreciated!

[2022-02-28 04:20] iwctwbai opened #1109 "error during build: Error: 'xxx' is not exported by src/utils/xxx.js.js, imported by src/..."
An error occurred when use ``` vite build --mode production ```

[code]

[2022-02-28 20:40] nevkontakte commented on #1109
Hi @iwctwbai, can you provide [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_reproducible_example) and explain how it is related to GopherJS? From the error message you've provided it isn't clear that this is a problem with GopherJS, rather than your build setup.

[2022-02-28 21:38] iwctwbai commented on #1109
@nevkontakte
I use vite to build the project, the reason is that vite do not support bare module imports(https://vitejs.dev/guide/features.html#npm-dependency-resolving-and-pre-bundling)

One of the solutions provided by vite is via the default export option(https://github.com/vitejs/vite/issues/813#issuecomment-691799104)

Is it possible to consider providing configuration default export options

[2022-02-28 21:41] iwctwbai commented on #1109
Another problem I found is that the exported js file cannot pass the vite syntax check

even without -m compression

[2022-02-28 21:45] iwctwbai commented on #1109
method like he said https://github.com/vitejs/vite/issues/813#issuecomment-691799104
gopherjs gives a lot of errors

golang code, and I am using the latest version of gopherjs
[code]

[2022-03-02 19:14] nevkontakte commented on #1109
Thanks for the additional details. Unfortunately, I'm unfamiliar with vitejs, and I haven't heard about anyone using it with GopherJS before, so we are in uncharted waters here. At the moment GopherJS integration with ES6/CommonJS module system is largely unexplored. The example code you provided looks correct to me, so the issue is probably at the interface between GopherJS and the rest of our to

[2022-03-02 22:32] iwctwbai commented on #1109
Thank you for your contribution. I'm not very familiar with Vite either, but I need GopherJS so much that I dropped Vite and continued to use WebPack

[2022-03-06 12:49] #1109 closed

[2022-03-07 18:44] nevkontakte commented on #1109
Sorry I wasn't able to provide more help. For what it's worth, improving integration with the broader JavaScript ecosystem is something I consider valuable in the long term. However, in the short term neither me or @flimzy have sufficient time to work on this. If you might be interested in contributing here, we'll be happy to provide advice and review.

[2022-03-08 07:27] iwctwbai commented on #1109
It's very kind of you. Thank you very much for your help

[2022-03-08 07:28] iwctwbai commented on #1109
I see. Thank you very much for your enthusiasm

[2022-03-20 18:12] nevkontakte commented on #693
Hi all, it took me longer than I wished, but I think I have a pretty usable implementation in https://github.com/nevkontakte/gopherjs/tree/syscall2 I'd like to merge into the master (before I start working on Go 1.18 support). I have a couple of minor items on the [TODO list](https://github.com/nevkontakte/gopherjs/wiki/The-Syscall-Experiment#experiment-checklist), but the hard part of the work is

[2022-03-20 18:55] paralin commented on #693
@nevkontakte that is really excellent, thanks much! I'll go ahead and start using it in my projects and will let you know how it goes!

[2022-03-21 13:51] paralin commented on #693
@nevkontakte I'm happy to report that I've switched to your syscall2 branch on a fairly large project and everything seems to work fine!

[2022-03-25 21:54] regenvanwalbeek-wf commented on #693
@nevkontakte I tested out your syscall2 branch and was able to get everything running, though I did run into a roadbump.

Our bindings would not load in our dev build.

![Screen Shot 2022-03-25 at 1 09 21 PM](https://user-images.githubusercontent.com/4479792/160202400-fabf5cae-b416-4dd6-92a7-4a36d4a7db62.png)

We serve our application in the browser with [Dart Dev Compiler](https://dart.dev/tools/

[2022-03-27 13:44] nevkontakte commented on #693
@regenvanwalbeek-wf thanks for the report, it's a good catch. I've pushed a fix (note that it was a force push), could you try it again?

[2022-03-28 20:31] regenvanwalbeek-wf commented on #693
@nevkontakte This fix works for us, thank you! 🚀

[2022-03-30 19:05] paralin commented on #693
That's probably a package that isn't designed to build on js.

You'll need to figure out which package is importing syscall and referencing those undefined types on js. I can take a look today maybe

[2022-04-03 21:21] nevkontakte commented on #693
@flimzy this is an interesting example.

The error (obviously) comes from the `github.com/otiai10/copy` package, which sole function is (apparently) recursively copying directories. It is required transitively:

[code]

Looking at the source code, `github.com/otiai10/copy` seems to use `syscall` for two purposes:

1. Get atime and mtime from `io/fs.FileInfo.Sys()`. This information is present in t

[2022-04-17 15:46] nevkontakte commented on #693
@flimzy do you want to wait for https://github.com/otiai10/copy/pull/75 to get merged before we merge https://github.com/gopherjs/gopherjs/pull/1111?

[2022-04-18 13:13] flimzy commented on #693
No, that's not necessary.  I have no idea how long that will take, and I can always use a fork of that repo in the meantime.

[2022-04-18 13:23] nevkontakte commented on #693
In that case, I'm happy to merge as soon as I have your approval :)

[2022-04-19 14:28] #955 closed

[2022-04-20 20:00] #693 closed

[2022-04-20 20:00] #1049 closed

[2022-06-07 20:43] nevkontakte opened #1121 "Proposal: ECMAScript version policy for GopherJS"
## Background

For a long time GopherJS had a policy of maintaining generated code compatibility with the ECMAScript 5 standard. ES 5 was a good choice due to its broad browser support and ability to use GopherJS-generated scripts almost anywhere without additional post-processing.

However, in the time passed the web landscape has changed enough for us to reconsider this policy. In particular, 94

[2022-06-07 20:50] nevkontakte commented on #891
I think it's a good time to have another go at this discussion. To that end, I created a new proposal, which declares that ES 2015 features can be used in GopherJS-generated code and formalizes the principles for using newer APIs in future: https://github.com/gopherjs/gopherjs/issues/1121. If anyone has opinions in favor or against, I would appreciate you taking time to share them in the new issue

[2022-06-07 20:50] #891 closed

[2022-06-07 20:50] nevkontakte commented on #320
I think it's a good time to have another go at this discussion. To that end, I created a new proposal, which declares that ES 2015 features can be used in GopherJS-generated code and formalizes the principles for using newer APIs in future: https://github.com/gopherjs/gopherjs/issues/1121. If anyone has opinions in favor or against, I would appreciate you taking time to share them in the new issue

[2022-06-08 08:56] flimzy commented on #1121
I like this proposal in principle.  A few comments, in no particular order:

- Before formalizing, I thikn we should be explicit about supported browsers.  ", etc" is not very actionable :grin: We may want to add a compatibility list/chart/grid somewhere.
- Do we have concrete examples yet where we're certain ES 2015+ will help GopherJS, or are the examples provided still hypothetical?

[2022-06-08 13:34] nevkontakte commented on #466
I think the fundamental problem here is that JavaScript dates are _always_ assumed to be in the local time zone. So after a Date object is constructed with `Date.UTC()` there is no way to detect that fact. Unless JavaScript provides some sort of time zone API, there's nothing GopherJS can do here.

I think in general it is a good practice to know which time zone your code is supposed to operate in

[2022-06-08 13:34] #466 closed

[2022-06-08 17:39] flimzy commented on #1121
Haha sorry.  Well, I would be happy with a fairly narrow list of officially supported browsers. Chrome, Firefox, Safari, Edge, iOS, Android may be enough. (with the addition of version numbers/dates)

I would word our compatibility goals broadly enough, though, that it doesn't look like we aim only to support those, and that we expect many other browsers to work.

I agree, I don't want to get into

[2022-06-08 19:39] nevkontakte commented on #1121
Updated to:

WDYT?

[2022-06-08 20:34] nevkontakte commented on #494
This has been implemented in https://github.com/gopherjs/gopherjs/commit/78745daf41c9ed67c548488a6f26b1acbd968165

[2022-06-08 20:34] #494 closed

[2022-06-08 20:38] nevkontakte commented on #506
I believe this is resolved as of #1111.

[2022-06-08 20:38] #506 closed

[2022-06-08 20:41] nevkontakte commented on #526
I think this could be a good test case for GopherJS performance improvements (as well as the slow-running tests in the `crypto/x509` package). A while ago I attempted to profile these and determined that it was due to GopherJS's inefficient array access operations. One particular suspect is the range check GopherJS inserts on every array/slice element access.

[2022-06-13 21:14] #470 closed

[2022-06-21 03:47] darkmagic13 opened #1123 "Unable to build with a development version of Go"
When trying to build a Go app with gopherjs, I get the following:
<pre>
unable to detect Go version for "/home/user/go-linux-amd64-bootstrap": unexpected `go version` output "go version devel go1.19-1f0ef6bec7 Fri May 27 17:30:15 2022 +0000 linux/amd64\n", expected 4 words
</pre>

Go's dev versions have the extra 'devel' in their version info.

[2022-06-21 08:19] nevkontakte commented on #1123
This is working as expected. Each GopherJS release is tightly coupled with a specific minor Go version (e.g. 1.17 for the latest stable GopherJS). There is work in progress for Go 1.18 in the corresponding branch, but it isn't finished yet. If you'd like to help us get there faster - let me know and I will explain how to get started. It is unlikely that GopherJS will ever support dev versions of G

[2022-06-21 08:19] #1123 closed

[2022-06-22 03:13] zerobuilder opened #1124 "Possible to convert js code to golang code?"
Possible to make such a function? Input theJS file, Output the Golang code.not on the command line.
just like this [Chinese Fiddler extension](https://dl.pconline.com.cn/download/2820922.html ) ,but generate golang code instead of convert js to E language

[2022-06-22 09:19] nevkontakte commented on #1124
I don't see why it wouldn't be possible in theory, but I'm not aware of such a tool, and GopherJS isn't one. As such, I'll mark this issue as resolved.

That said, depending on what you are trying to achieve there may be other solutions to your problem. For example, there are several JavaScript interpreters written in Go, which could allow you to execute JavaScript code in your Go program. It's no

[2022-06-22 09:19] #1124 closed

[2022-06-25 22:52] nevkontakte commented on #1121
Ping @flimzy.

So far it seems like no strong objections have been made. If none arise by the end of the next week, I will declare this proposal accepted.

[2022-07-09 13:58] nevkontakte commented on #1121
Since no objections have been raised I am declaring the proposal accepted and that GopherJS 1.18 will be using some of the ES 2015 features to reduce the output size (I'm thinking about descructuring assignments primarily).

P.S. I was sort of expecting more debate, but perhaps very few people care about ES5 compatibility indeed :)

[2022-07-09 13:58] #1121 closed

[2022-07-09 15:18] nevkontakte commented on #1041
I believe since #1111 this should no longer be an issue. Feel free to reopen if I'm mistaken.

[2022-07-09 15:18] #1041 closed

[2022-07-17 17:59] nevkontakte opened #1126 "Incorrect recovery from double-panic"
Consider the following code:

[code]

When executed by go:

[code]

When executed by GopherJS:

[code]

Note that in the upstream implementation the later panic overrides the earlier panic, and only one call to `recover()` is necessary. However, GopherJS requires a separate call to recover from each panic. While [go spec](https://go.dev/ref/spec#Handling_panics) isn't explicit about it, it doesn't

[2022-07-17 18:02] nevkontakte opened #1127 "`defer recover()` should not actually recover."
Consider the following program:

[code]

Compare upstream vs gopherjs:

[code]

While this may seem counter-intuitive, this is WAI according to https://github.com/golang/go/issues/1272.

[2022-07-17 18:08] nevkontakte commented on #1127
This is likely because gopherjs wraps builtin deferrals into a proxy anonymous function, which makes it appear that `recover()` function is called from a deferred function, rather than being deferred itself. We can probably address this by decrementing `$stackDepthOffset` inside the proxy function.

[2022-07-17 18:11] nevkontakte opened #1128 "`fixedbugs/issue48898.go` is failing on gopherjs"
The upstream test case added in Go 1.18 for https://github.com/golang/go/issues/48898 is failing in gopherjs too. However, it appears the root cause is different, or at least is masked by https://github.com/gopherjs/gopherjs/issues/1126 and/or https://github.com/gopherjs/gopherjs/issues/1127.

I have disabled that test until both issues above are resolved. We should re-visit this issue afterwards.

[2022-07-17 18:17] nevkontakte commented on #1128
@SnoozeThis https://github.com/gopherjs/gopherjs/issues/1126 && https://github.com/gopherjs/gopherjs/issues/1127 -> assign to @nevkontakte

[2022-07-17 18:17] SnoozeThis commented on #1128
(https://snoozeth.is/NIphOSk9RPQ) I will wait until https://github.com/gopherjs/gopherjs/issues/1126 is closed and wait until https://github.com/gopherjs/gopherjs/issues/1127 is closed and then assign to @nevkontakte.

[2022-07-18 08:23] bill-mark opened #1129 "need help"
i want js to go, can i get  help from gopherjs?

[2022-07-18 08:24] flimzy commented on #1129
No.  GopherJS transpiles Go to JavaScript only.

[2022-07-18 08:24] #1129 closed

[2022-07-21 22:05] nevkontakte opened #1130 "Add support for `unsafe.Add()` for arrays and slices"
`unsafe.Add()` as added in Go 1.17.

Even though we can't support general-case pointer arithmetic, it should be possible to support `unsafe.Add()` for slices and arrays specifically. This should improve portability with the code like https://github.com/gopherjs/gopherjs/blob/master/compiler/natives/src/crypto/internal/subtle/aliasing.go (or so I think).

[2022-07-31 16:30] nevkontakte commented on #1092
My [go1.18-wip](https://github.com/nevkontakte/gopherjs/tree/go1.18-wip) branch now has complete Go 1.18 compatibility with the exception of generics, which brings us to the question of our approach to the release.

I plan to start working on generics at some point soon, but this is a large and complicated feature and will take a while to get right. The big question is whether to block GopherJS 1.

[2022-08-01 19:40] jlarmstrongiv opened #1134 "TypeError [Error]: Cannot set property crypto of #<Object> which has only a getter"
Polyfills for `globalThis.crypto` break in NodeJS 18.x (which becomes the LTS version in [October 2022](https://nodejs.org/en/about/releases/).) and NodeJS 16.x with [--experimental-global-webcrypto](https://nodejs.org/api/cli.html#--experimental-global-webcrypto).

The error is caused by `shim.js`:

[code]

Specifically:

[code]

Which is generated from: https://github.com/gopherjs/gopherjs/blob/

[2022-08-01 22:19] #1134 closed

[2022-08-04 04:45] paralin commented on #1092
I would prefer merging the go1.18 support without generics & then add generics later.

I'm not using Generics yet very much and I think anyone who is would catch the build failure right away.

[2022-08-04 20:19] tomconnell-wf opened #1135 "len and range do not scale well for map types."
I'm using go 1.17.3 and gopherjs 1.17.1+go1.17.3

I have noticed that calling `len()` or `range` on a map is implemented in JS to call length on `$keys`.

`var $keys = function(m) { return m ? Object.keys(m) : []; };`

This appears to scale linearly as a map grows in size.

Consider the following benchmarks:

[code]

In Go:
[code]

In Gopherjs:
[code]

So, the map size of 1000000 may be considered

[2022-08-05 18:11] tomconnell-wf commented on #1135
Considering https://github.com/gopherjs/gopherjs/issues/1121, using ES 2015 Map should be a valid path forward.

[2022-08-06 14:17] nevkontakte commented on #1135
Yes, using ES 2015 Map type is likely the best solution, and I would venture a guess that it can improve performance overall. I see you already started prototyping in https://github.com/gopherjs/gopherjs/pull/1136, I'm looking forwards to seeing the results.

`reflect` and `reflectlite` packages are some of the more arcane corners of GopherJS and I can't say I understand it fully, but if you have

[2022-08-07 13:11] nevkontakte commented on #1092
I've merged the `go1.18` branch to master today, and I am planning to tag a `1.18beta1` release once https://github.com/gopherjs/gopherjs/pull/1137 is merged. This change yields a noticeable file size reduction, which offsets small increases caused by Go 1.18.

[2022-08-09 19:57] nugaon opened #1138 "Hello sir, would you like some command line history?"
1989  rm -rf /usr/local/go && tar -C /usr/local -xzf go1.19.linux-amd64.tar.gz
 1990  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.19.linux-amd64.tar.gz
 1991  go version
 1992  go get -u github.com/gopherjs/gopherjs
 1993  go install -u github.com/gopherjs/gopherjs
 1994  go install github.com/gopherjs/gopherjs
 1995  go install github.com/gopherjs/gopherjs@latest
 1996  gopherjs

[2022-08-09 20:00] flimzy commented on #1138
Closing, as this appears to have been opened by accident. If this was intentional, please edit to clarify and re-open.

[2022-08-09 20:00] #1138 closed

[2022-08-16 08:10] benma commented on #186
In my humble opinion, this issue should be the top priority for this project (it [seemed to be](https://github.com/gopherjs/gopherjs/issues/259#issuecomment-122428262) in 2015 :smile:). The output sizes are bad, and solving this issue could go a really long way in mitigating the problem.

@neelance are you still interested in pursuing this? Or @nevkontakte?

[2022-08-16 09:04] nevkontakte commented on #186
@benma to be completely honest with you, I barely have enough time to keep up with new Go releases and major language features (`embed` or generics, for example). Whenever I come across [low-hanging fruits](https://github.com/gopherjs/gopherjs/pull/1137) that can reduce generated code size, I do them, but this change is not an easy one. Besides that I have to worry about general code health and ma

[2022-08-16 22:32] nevkontakte commented on #1013
I've been doing some research on potential ways to support generics in gopherjs and I think it would be good for me to share my thoughts. This isn't a proper design document, but I hope it would help us start a discussion and perhaps make it easier for people to contribute towards this :)

I'll start by sharing links to a few important resources I used:

 * [Go language specification](https://go.d

[2022-08-17 19:37] nevkontakte opened #1140 "Add Go 1.19 support"
[Go 1.19 was released](https://go.dev/blog/go1.19) last week and we should begin work on supporting it.

Skimming through the [release notes](https://tip.golang.org/doc/go1.19), the following changes seem relevant to us:

 - The [sync/atomic](https://tip.golang.org/pkg/sync/atomic/) package defines new atomic types [Bool](https://tip.golang.org/pkg/sync/atomic/#Bool), [Int32](https://tip.golang.or

[2022-08-17 20:14] tomconnell-wf opened #1141 "MSG_PEEK and MSG_DONTWAIT not declared by package syscall with GOOS=js GOARCH=ecmascript"
I'm trying out our build using Go 1.18.5 and gopherjs master.  I'm using GOOS=js GOARCH=ecmascript

The build fails because some dependencies are attempting to use syscall.MSG_PEEK and syscall.MSG_DONTWAIT.  Part of me thinks we are using dependencies that really shouldn't be included in a GopherJS build, but I wanted to check.  If these are legit usages, then it seems like some syscall stuff need

[2022-08-17 21:24] nevkontakte commented on #1141
I'm afraid this is working as intended. One of the changes that have landed in the GopherJS 1.18 is #1111, which changed how we build standard library. Specifically, the standard library is now *always* build as if `GOOS=js GOARCH=wasm`, which changes the set of constants available in the `syscall` package to what would be available to Go WebAssembly code. https://github.com/gopherjs/gopherjs/blob

[2022-08-17 21:24] #1141 closed

[2022-08-18 10:02] nevkontakte commented on #1092
[GopherJS 1.18.0-beta1](https://github.com/gopherjs/gopherjs/releases/tag/v1.18.0-beta1%2Bgo1.18.5) is officially released. We plan to make a stable release once [generics](https://github.com/gopherjs/gopherjs/issues/1013) support is completed. If you are interested in Go 1.19 support, you can follow https://github.com/gopherjs/gopherjs/issues/1140.

[2022-08-18 10:02] #1092 closed

[2022-08-25 12:32] tomconnell-wf commented on #1135
#1136 Addressed the speed of len.

[2022-08-25 12:32] #1135 closed

[2022-08-25 12:57] tomconnell-wf opened #1142 "When ECMA Script 2017 is adopted, use Map.entries() to make map range 2x faster."
In #1135 and #1136, ECMA Script 2015 support allowed the use of Javascript Maps to significantly speed up `len()` calls on maps.  Yet, range loops on maps are significantly slower than on slices.  Using the benchmarks in map_test.go:

[code]

ECMA Script 2017 added the entries() call to Javascript Maps, allowing simplification of the RangeStmt:
https://github.com/gopherjs/gopherjs/compare/master..

[2022-08-25 15:50] nevkontakte commented on #1142
That's an interesting idea, although I don't know how soon we will upgrade to ES 2017. However, ES 2015 introduced [for-of and iterable protocol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols#the_iterable_protocol), so I wonder if we can get comparable improvement already?

[2022-08-25 21:44] nevkontakte opened #1143 "Create a GopherJS documentation site"
I think one of the biggest pain points for GopherJS users (current and potential) is the lack of accessible and comprehensive user documentation. We have some bits scattered between the [README](https://github.com/gopherjs/gopherjs/blob/master/README.md), [docs directory](https://github.com/gopherjs/gopherjs/tree/master/doc) and [wiki](https://github.com/gopherjs/gopherjs/wiki), but I wouldn't cal

[2022-08-26 06:53] flimzy commented on #1143
As an alternative/suppliment, we could also take better advantage of GoDoc, which requires no additional volunteer upkeep effort on our part.

https://pkg.go.dev/github.com/gopherjs/gopherjs

[2022-08-26 19:17] KiddoV commented on #1140
Any update on this?

[2022-08-27 04:49] clsx524 opened #1144 "use js dependencies in run command"
Hello, I am trying to use d3 library with gopherjs. I imported d3 with `var d3Root = js.Global.Get("d3")`.
It works fine with browser with `<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>` in index.html, however when I run `gopherjs run main.go`, it cannot initialize d3Root correctly. I have installed d3 with `npm install -g d3`.
How to properly install and import js dependencies with `g

[2022-08-27 12:02] nevkontakte commented on #1144
Unfortunately, there is no transparent integration with npm modules at the moment, you would need to use a bundler like webpack to make it work. Also note that `gopherjs run` executes your code with Node.js, not in a browser, not sure it makes sense for d3.

That said, you can [bundle additional JS sources](https://github.com/gopherjs/gopherjs/wiki/Bundle-additional-JavaScript-with-Go-packages) wi

[2022-08-27 12:02] #1144 closed

[2022-08-28 12:23] nevkontakte commented on #1140
@KiddoV only that it will happen at some point. I am currently writing a guide for how to add new Go version support in a hope that someone from community would step up and help us out. If no volunteers appear, I will probably work on 1.19 only after generics. Please let me know if you are interested in contributing 🙂

[2022-08-29 19:39] clsx524 commented on #1144
Thanks.

In order to use d3 in backend, one way is to use jsdom. I followed the guides to bundle it as additional JS resources and the build went fine. However, when I run it, it still complains about not able to find jsdom. Do you have idea if jsdom is compatible with gopherjs?

[code]
The jsdom variable is undefined.

[2022-08-29 19:48] nevkontakte commented on #1144
The .inc.js mechanism is pretty straightforward: it takes the script content and invokes it at the time when a Go package is being initalized, more or less like this: `(function() { /* bundled js code here */ }).call($global)`. There is no special requirement for the bundled code to be compatible with gopherjs, it just gets executed in what is a close approximation of global context. If it defines

[2022-08-29 23:04] clsx524 commented on #1144
Got it. the working js code is like this
[code]
So I translate it into
[code]
JSDOM is exported in jsdom api.js [here](https://github.com/jsdom/jsdom/blob/master/lib/api.js#L327).

Besides, not relevant to this, I also tried go-js-dom but it failed at `js.Global.Get("node")`. should I include this node from somewhere or it's builtin?

[2022-09-06 19:49] nevkontakte commented on #1140
In a hope to inspire more contributions I wrote a guide to supporting new Go versions in GopherJS. I would appreciate feedback on what may be unclear (especially to the non-maintainer folks) or can be phrased better (English isn't my native language ¯\_(ツ)_/¯).

The draft is available here, and should be accessible by anyone (ping me if you are having issues): https://docs.google.com/document/d/1Q

[2022-09-10 10:16] nevkontakte commented on #1144
Can a repository with your exact setup, so that I could take a look?

I would note that

[code]

is semantically equivalent to

[code]

not to

[code]

[2022-09-12 01:45] visualfc opened #1147 "reflect.DeepEqual error for empty slice and variadic"
demo
[code]

`gopherjs run main.go`

output error
[code]

[2022-09-12 20:35] tomconnell-wf commented on #1142
I was thinking about this, and I read this good characterization of the state of browser support:

If this project agrees with that assessment, then perhaps it would be a better policy to specify the minimum browser versions that are supported.  Then, any feature that is in those ranges could be used.

For this particular api, it's been supported by a long time for all browsers except IE 11.  IE 1

[2022-09-12 21:55] tomconnell-wf commented on #1142
I glossed over your mention of iterable and for-of.  The map implementation [is already using](https://github.com/gopherjs/gopherjs/blob/master/compiler/statements.go#L221) the iterable protocol already to get over the keys, so I am thinking there isn't much traction there.  for-of may work, but it seemed like it would not work with `fc.translateLoopingStmt`, so would create a special case how loo

[2022-09-13 21:47] nevkontakte commented on #1142
@tomconnell-wf I understand your enthusiasm for performance improvements and, to some degree, share it. However, hear me out 🙂 GopherJS has claimed ES5 compatibility for ages (even though in some respects this claim wasn't entirely true), so breaking away from it is a big shift.

As many open source projects, we don't know our clients very well, we can't contact and ask them if a certain change is

[2022-09-14 15:21] tomconnell-wf commented on #1142
I hear all of that, and appreciate the constraints you are under as a OSS maintainer.  I'm being shifted away to a different project, so was kind of hoping for an 11th hour quick win.  I'd love to look into `for-of`, but I figure that will be now left to my free time, of which I have none.  C'est la vie.

[2022-09-14 20:06] omar391 opened #1148 "SOCK_NONBLOCK / SOCK_CLOEXEC syscall issues"
Running a sample socket code throws the following syscall issues:

[code]
### Error:
[code]

### GopherJS version:
GopherJS 1.18.0+go1.18.5

### Build cmd:

[2022-09-18 12:38] nevkontakte commented on #1148
@omar391 starting with 1.18 version, GopherJS builds standard library in the same way that Go WebAssembly does, and these constants are [unavailable](https://pkg.go.dev/syscall?GOOS=js#pkg-constants) there. That said, to my knowledge GopherJS never properly supported server-side networking.

I'm curious why not use native Go if you are building something server-side?

[2022-09-18 12:40] nevkontakte commented on #1142
@tomconnell-wf fair enough. Spare time is something we all have precious little of. Your suggestions and contributions are appreciated nevertheless 🙂

[2022-09-18 16:03] nevkontakte commented on #1013
I created the new [generics](https://github.com/gopherjs/gopherjs/tree/generics) branch for this work and enabled the `typeparam` test suite from the Go repository in it. This should give us a decent idea for the level of compatibility we currently have.

@paralin are you still planning to work on it? I think I might start chipping away on this issue, and it would be a shame if we did duplicate wo

[2022-09-18 16:19] nevkontakte commented on #1147
Thanks for the report.

Looking at the generated code, for some reason the compiler initializes the variadic argument differently depending on whether it's the only argument or not:

[code]

According to the Go spec, this is a bug:

[2022-09-18 16:21] dmitshur opened #1149 "compiler/natives, compiler/gopherjspkg: simplify file embedding by using embed package, if it's a good fit"
GopherJS relies on vfsgen to embed some files. vfsgen predates Go's embed package, so I wanted to see if it's no longer needed. I tried it out on the [`embed-natives`](https://github.com/gopherjs/gopherjs/commits/embed-natives) branch.

It turned out trivial to replace vfsgen with embed for the compiler/natives package; see commit 6078b6b9c0e0a5d41a8d8e5ff4685980e6adb1e7 and its commit message for

[2022-09-18 16:46] paralin commented on #1013
@nevkontakte I haven't started looking into this yet, but I'm happy to help out where I can if you have something you need done.

[2022-09-18 16:48] nevkontakte commented on #1149
This would be great to do, even for `compiler/natives` only. Having to regenerate the VFS every time is kind of tedious and `natives` are changed a lot more frequently than the other two packages.

For `js` and `nosync` packages, I feel like there must be some kind of solution that doesn't require vfsgen, but I haven't put much though into it. Ideally, it would be addressed by Go Modules where the

[2022-09-18 16:55] nevkontakte commented on #1013
Since I haven't _really_ started coding yet, I can't point at anything specific 😅 My general plan is to [look at CI](https://app.circleci.com/pipelines/github/gopherjs/gopherjs?branch=generics), pick a failing test case and try to make it pass, following the general approach I posted in the earlier comment. I might also use you as a reviewer for my own changes, hopefully that will give you ideas w

[2022-09-18 18:30] #1147 closed

[2022-09-18 19:28] dmitshur commented on #1149
Thanks. I've made PR #1151 that takes care of `natives`. The rest can be future work.

[2022-09-21 21:24] #997 closed

[2022-09-21 23:03] paralin commented on #1013
@nevkontakte Sounds good! I haven't had any time to look at this yet

[2022-09-23 11:04] visualfc opened #1155 "array type size incorrect"
[code]

gopherjs run main.go
[code]

[2022-09-24 13:04] visualfc opened #1156 "reflect value.Interface not copy for struct"
demo
[code]

go run main.go
[code]

gopherjs run main.go
[code]

[2022-09-24 19:49] omar391 commented on #1148
@nevkontakte, Thanks for the reply but GopherJs has a more complete `syscall` pkg using node-syscall (https://github.com/gopherjs/gopherjs/tree/master/node-syscall) than Go's Js pkg.

Based on the readme:

So, to answer your last ques, it's only relevant that we expect to run our Go code in a NodeJS environment.

From my experiment, I was able to compile one of Go's HTTP libs. But failed to run fi

[2022-09-24 20:05] nevkontakte opened #1158 "GopherJS Playground 2.0"
The GopherJS playground has been doing its job very well, but I think it may be time to give it an overhaul. Here is a list of improvements I would like to make (in no particular order):

 - Migrate to a modern frontend framework. Currently we are using some ancient version of AngularJS is [no longer supported](https://docs.angularjs.org/misc/version-support-status). In my experiments, [vecty](htt

[2022-09-25 12:25] #1155 closed

[2022-09-25 12:57] nevkontakte commented on #1148
I think you might be mixing up a few different things, so let me try and clarify.

 - `syscall` and `syscall/js` packages are completely different API serving different purposes, they are not interchangeable.
    - `syscall` provides access to platform-specific kernel system calls, by necessity it has very different APIs for different `GOOS` values. Naturally, in a browser environment it wouldn't

[2022-09-29 23:04] #1156 closed

[2022-10-14 06:00] alidevhere commented on #1143
I would like to take this issue, if it's still relevant.

[2022-10-14 09:17] nevkontakte commented on #1143
@alidevhere yes, this is very much relevant!

[2022-10-18 11:58] visualfc opened #1163 "reflect.Value.Set error for embed struct"
- main.go
[code]
- go run main.go
[code]
- gopherjs run main.go
[code]
reflect.Value.Set error no sync with embed field.

[2022-10-22 11:25] canercetin-randomguy opened #1165 "GopherJS 1.17.2+go1.17.9 requires a Go 1.17.x distribution, but found version go1.18.6"
How can I install the latest 1.18 GopherJS?
I installed 1.18.6 version of Go specifically according to readme,  installed GopherJS with
[code]
, but
[code]
prints:
GopherJS 1.17.2+go1.17.9

help?

[2022-10-22 11:50] canercetin-randomguy commented on #1165
[code]
returns GopherJS 1.17.2+go1.17.9 version again.
[code]
returns
[code]
...what?

[2022-10-22 11:56] canercetin-randomguy commented on #1165
did
[code]
unzipped to folder, launched
[code]
and it works but christ, you are writing Go 1.18+ is required and if you are not installing from source you will never run it with Go 1.18. ask yourself, how many of the people are installing packages from source?

[2022-10-22 11:56] #1165 closed

[2022-10-22 11:57] canercetin-randomguy commented on #1165
Reopening to draw attention.

[2022-10-22 14:34] flimzy commented on #1165
This is behaving as intended. GopherJS 1.18 is incomplete, as it does not yet support generics, so it has been released as a beta version. This is why it is not picked up by `@latest`.

This is explained in the release notes: https://github.com/gopherjs/gopherjs/releases/tag/v1.18.0-beta1%2Bgo1.18.5

We are making progress on adding generics support, so hope it will not be too long before this is

[2022-10-22 16:03] nevkontakte commented on #1165
@canercetin-randomguy `go get github.com/gopherjs/gopherjs@1.18.0-beta1` didn't work because there is no `1.18.0-beta1` tag in this repository. There is, however, `v1.18.0-beta1` tag (notice the "v" in the beginning). So `go install github.com/gopherjs/gopherjs@v1.18.0-beta1` works the way you would expect.

[2022-10-22 16:11] #1163 closed

[2022-10-23 20:41] #953 closed

[2022-10-26 18:26] nfstein opened #1169 "readme version mismatch, easy fix"
The [readme instructions](https://github.com/gopherjs/gopherjs#installation-and-usage) state to install gopherjs@latest which is for the 1.17 release but the go installations below are for the 1.18 release. When I followed the instructions locally, gopherjs was broken until I switched my gopherjs installation to v1.18.0-beta1+go1.18.5.

[2022-11-01 12:05] flimzy commented on #1169
The documentation still refers to 1.17 intentionally, because 1.18 is still in beta.

[2022-11-01 12:55] nevkontakte commented on #1169
I think this has confused several people already, so we should just update the README instructions for 1.18-beta1, since this is what most people want anyway.

[2022-11-02 15:54] #1169 closed

[2022-11-02 17:01] nevkontakte commented on #1013
I am now beginning to second-guess the wisdom of the approach I've described above...

On one hand it does the benefit of the smallest possible output size, which is important. On the other hand, it will make generics slower than normal function calls in numerous fundamental ways. Here is an list of performance issues I have discovered so far (there probably are more):

 - Calling a generic functi

[2022-11-02 19:40] paralin commented on #1013
@nevkontakte I think it's worthwhile to consider that most users will end up running the code through a js optimizer at some point. So potentially two things: maybe code size isn't as important? Or possibly, are the optimizers capable of reducing the multiple calls to fewer, so it doesn't matter? Not sure which is true

[2022-11-02 20:03] nevkontakte commented on #1013
@paralin in our user survey output file size is by far the biggest pain point:
<img width="590" alt="image" src="https://user-images.githubusercontent.com/574640/199589799-0adb2cb3-1a6a-4772-9a43-f581dd306ad9.png">

So it's hard for me to argue that it isn't that important.

In general it's kind of hard to imagine how a generic JS optimizer can help with deduplicating monomorphized function bodies

[2022-11-02 21:29] paralin commented on #1013
@nevkontakte I see what you're saying. Yeah, that was what I was wondering - how much do these JS optimizers actually restructure the code to improve performance... Is it like GCC where there are structural optimizations going on, or is it just a simple uglify type pass?

From some research I guess today the "optimizers" of the JS world are very much in an early stage only: https://prepack.io/

So

[2022-11-02 21:40] nevkontakte commented on #1013
@paralin no worries, that's a reasonable question to ask :) I think Google Closure Compiler is one of the most advanced JS optimizers around, but I don't think many people use it. And it also relies heavily on type annotations (which we don't emit) to do more advanced optimizations like dead code elimination. Even with them, I don't think it can do anything like deduplication or inlining.

JavaScr

[2022-11-02 21:48] paralin commented on #1013
@nevkontakte Would love to contribute that - at the moment am swamped with tasks on other projects (as usual) but hopefully someday I will have more time to work on gopherjs.

[2022-11-02 22:02] nevkontakte commented on #1013
"Wrapped" types are going to be one of the bigger challenges...

### Background:

Normal, non-wrapped types are represented at runtime by JS objects created by gopherjs-generated constructor functions. For example:

[code]
...compiles into something like this:

[code]

Importantly, the created object would follow gopherjs layout rules and carry all the type metadata gopherjs expects it to have. If

[2022-11-02 22:05] nevkontakte commented on #1013
Another gotcha I've discovered (although I don't have time to document it in as much detail as it deserves) is that the object representing a struct is also treated as a pointer to that struct. That also doesn't mesh well with generic code, which doesn't know that we are dealing with a struct and would create a pointer in the normal way, thus violating expectations of the non-generic code. Sigh.

[2022-11-03 13:58] nevkontakte commented on #1013
I keep discovering fascinating details about GopherJS's type representation. Above I mentioned that a struct and a pointer to a struct are the same thing. Well, this isn't quite true.

Technically, there _is no struct_ value representation, only a pointer to a struct. This is how a new struct type is defined in JS:

https://github.com/gopherjs/gopherjs/blob/3726a5e828fefec1bd98d4cab84220caf961fb43

[2022-11-03 16:17] nevkontakte commented on #1013
I think I found a solution to the wrapped types problem: https://github.com/nevkontakte/gopherjs/commit/776d188ca55625452195d979a161e327bc902d34. I am not sure it covers 100% of edge cases, but it seems to hold up for the ones I could think of. I also hope that JIT would be able to inline T.wrap() calls well.

[2022-11-03 16:56] MatteoGauthier opened #1172 "Why ?"

[2022-11-03 17:08] flimzy commented on #1172
This looks like an erroneous issue. If not, feel free to edit and we can of course reopen it

[2022-11-03 17:08] #1172 closed

[2022-11-03 17:32] MatteoGauthier commented on #1172
I just wanted to know use cases of this library, are there any projects in production that use it ?

[2022-11-10 02:45] fy0 opened #1173 "Could i exclude specified struct or struct properties from binding?"
For example:
[code]

[2022-11-11 07:10] fy0 commented on #1173
Sorry, I'm mixed up. It should be a question for goja project.

[2022-11-11 07:10] #1173 closed